.front-page-container {
  display: block;
  min-width: 100%;
}


.img-cover {
  width: 100%;
  height: 100%;
}

@supports (display: grid) {

  @media (min-width: 42em) and (min-height: 27em) {

    .front-page-container {
      display: grid;
      gap: 1em 0.5em;
      grid-template-columns: minmax(10px, 1fr) 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 2fr 1fr;
    }

    .title {
      writing-mode:vertical-lr;
      transform:rotate(180deg);
      grid-row: 1 / -1;
      align-self: start;
    }

    .subtitle {
      grid-column: span 3;
      align-self: center;
    }

    .description {
      align-self: start;
      grid-column: 2 / span 2;
    }

    .about {
      writing-mode:vertical-lr;
      transform:rotate(180deg);
      align-self: flex-start;
      justify-self: start;
      text-decoration: none;
      color: black;
    }

    .img-cover {
      grid-column: 2 / -1;
      grid-row: 3 / -1;
    }

    .img-cover__caption {
      grid-row: 3;
      grid-column: 2 / span 2;
    }

    .img-cover__caption > a {
      text-decoration: none;
      color: black;
    }
  }
}