body {
  margin:       0;
  padding:     3%;
  font-size: 18px;
  font-family: $font-family-sans-serif;
  background-color:           $body-bg;
  color:                   $font-color;

  @include media(tablet) {
    font-size: 14px;
  }

  @include media(phone) {
    font-size: 12px;
  }
}





main {
  background-color: $main-bg;
  display: inline-block;
  width:  100%;
  padding: 5%;
  font-family: $font-family-serif;

  @include media(phone) {
    padding-top: 50%;
  }

}





footer {
  background-color: $cv-forth-color;
  width: 100%;
  height: max-content;
  padding: 15px;
}





.primary-nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $nav-bg;

  &__item {
    float: left;

    @include media(phone) {
      float: none;
    }

  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;

    @include media(phone) {
      display: inline-block;
      padding: 10px;
    }
  }

  &__link:hover {
    background-color: $cv-third-color;
  }

  @include media(phone) {
    position: absolute;
  }

}





.section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__column {
    padding-right: 10%;
    flex: column-width(3);

    @include media(tablet) {
      flex: column-width(2);
    }

    @include media(phone) {
      flex: column-width(1);
    }

  }

}





.contact-me {
  list-style-type: none;

  &__item {
    padding-bottom: 2%;
  }

}




.about-me {
  display: flex;

  &__image {
    padding-right: 2%;
    max-width: 35%;
    height:   auto;
    align-self: flex-start;
  }

  &__text {
    flex: 1 1 auto;
    text-align: left;
  }

  @include media(phone) {
    display: block;
  }
}