@use "sass:color";

$font-family-sans-serif: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-color: black;

$bg-color: #ffd1b4;
$bg-image: linear-gradient(43deg, #ff9759 0%,
#ffb080 30%, #ffd1b4 66%, #ffe8d9 100%);
$main-bg-color:rgb(255, 255, 255, 0.3);
$secondary-bg-color: rgb(255, 255, 255, 0.5);
$nav-bg-color: #333;
$nav-bg-color-hover: #111;

$nav-txt-color: white;


/**
 * Boostrap Variables modification
 */

$navbar-dark-hover-color: rgba(white, 1.0);
$accordion-bg: $secondary-bg-color;