@use "sass:color";

$font-family-sans-serif: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$cv-primary-color:   #e4d3cf;
$cv-secondary-color: #9e9d89;
$cv-third-color:     #e2bcb7;
$cv-forth-color:     #b67162;

$nav-bg:  color.scale($cv-forth-color, $lightness: 40%);
$main-bg: color.scale($cv-third-color, $lightness: 20%);
$font-color: color.scale($cv-secondary-color, $blackness: 20%);

